body			{ background: #90EE90;font-size: large;}

h1				{color: #880000 }
#cabecera		{text-align:center; font-size: large; font-style: verdana;}
#video			{display: none;}
#mapa			{display: none;}
#map_canvas		{display: none;}
footer			{display: none;}

#page-wrap > .main 	{border: 1px solid #999; padding: 1%; margin-bottom: 1px; color: black;}