body				{ font: 16px Georgia, serif; background-color: #66CDAA;}

h1					{color: #880000 }
#cabecera			{text-align:center; font-size: large; font-style: verdana;}
#video				{text-align: center;}
footer				{text-align:center;background-color: #000000;font-size: large; font-style: verdana; color: white;}